bin/
obj/
build/
cmake-build-Debug/
.build-debug/
.codelite/
.ctagsd/
.build/

FXGHI_build_log.html
compile_flags.txt
FXGHI.txt
Makefile

FXGHI.*
*.depend
*.bmarks
*.layout
*.layout.*
*.save
*.save.*
*~

